@import "tailwindcss";
body {
  font-family: 'Inter', sans-serif;
}
/* Heading utility class */
.heading-font {
  font-family: 'DM Sans', sans-serif;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

/* mobile slower */
@media (max-width: 768px) {
  .animate-marquee {
    animation: marquee 40s linear infinite;
  }
}